<nav class="navbar">
  <div class="navbar-inner">

    <!-- LOGO -->
    <a class="navbar-brand" routerLink="/home">
      <div class="brand-logo-box">
        <img src="images/iset_logo.png"
             alt="ISET"
             class="iset-logo"
             onerror="this.style.display='none'; this.nextElementSibling.style.display='flex'">
        <span class="brand-fallback">
          <span class="brand-icon">🎓</span>
        </span>
      </div>
      <div class="brand-text-group">
        <span class="brand-name">ISET Tozeur</span>
        <span class="brand-subtitle">Plateforme officielle de gestion des formations</span>
      </div>
    </a>

    <!-- NON CONNECTÉ -->
    <div class="navbar-links" *ngIf="!user">
      <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Connexion</a>
      <a class="nav-link btn-register" routerLink="/inscription">S'inscrire</a>
    </div>


  </div>
</nav>